@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-500: #3a3a3a;
  --gray-400: #676767;
  --gray-300: #8a8a8a;
  --gray-200: #c4c4c4;
  --gray-100: #f3f3f3;
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 10px;
  --space-md: 16px;
  --space-ml: 20px;
  --space-xl: 40px;
  --space-2xl: 80px;
  --font-size-256: 256px;
  --font-size-200: 200px;
  --font-size-120: 120px;
  --font-size-96: 96px;
  --font-size-80: 80px;
  --font-size-56: 56px;
  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-36: 36px;
  --font-size-32: 32px;
  --font-size-30: 30px;
  --font-size-28: 28px;
  --font-size-26: 26px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --line-height-90: 0.9;
  --line-height-130: 1.3;
  --line-height-150: 1.5;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* gray */
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);

  /* space */
  --spacing-2xs: var(--space-2xs);
  --spacing-xs: var(--space-xs);
  --spacing-sm: var(--space-sm);
  --spacing-md: var(--space-md);
  --spacing-ml: var(--space-ml);
  --spacing-xl: var(--space-xl);
  --spacing-2xl: var(--space-2xl);

  /* font-size */
  --text-256: var(--font-size-256);
  --text-200: var(--font-size-200);
  --text-120: var(--font-size-120);
  --text-96: var(--font-size-96);
  --text-80: var(--font-size-80);
  --text-56: var(--font-size-56);
  --text-48: var(--font-size-48);
  --text-40: var(--font-size-40);
  --text-36: var(--font-size-36);
  --text-32: var(--font-size-32);
  --text-30: var(--font-size-30);
  --text-28: var(--font-size-28);
  --text-26: var(--font-size-26);
  --text-24: var(--font-size-24);
  --text-22: var(--font-size-22);
  --text-20: var(--font-size-20);
  --text-18: var(--font-size-18);
  --text-16: var(--font-size-16);
  --text-14: var(--font-size-14);

  --leading-90: var(--line-height-90);
  --leading-130: var(--line-height-130);
  --leading-150: var(--line-height-150);

  --font-regular: var(--font-weight-regular);
  --font-light: var(--font-weight-light);
  --font-semibold: var(--font-weight-semibold);
  --font-bold: var(--font-weight-bold);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.en-h1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-256) / 1440 * 100vw),
    var(--font-size-256)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.en-h2 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-200) / 1440 * 100vw),
    var(--font-size-200)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.en-h3 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-120) / 1440 * 100vw),
    var(--font-size-120)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.en-h4 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-80) / 1440 * 100vw),
    var(--font-size-80)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.en-t1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-40) / 1440 * 100vw),
    var(--font-size-40)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.en-t2 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-32) / 1440 * 100vw),
    var(--font-size-32)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-semibold);
}

.en-s1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-32) / 1440 * 100vw),
    var(--font-size-32)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-semibold);
}

.en-b1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-16) / 1440 * 100vw),
    var(--font-size-16)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-semibold);
}

.point-t1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-32) / 1440 * 100vw),
    var(--font-size-32)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-bold);
}

.point-t2 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-24) / 1440 * 100vw),
    var(--font-size-24)
  );
  line-height: var(--line-height-90);
  font-weight: var(--font-weight-regular);
}

.kr-t1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-56) / 1440 * 100vw),
    var(--font-size-56)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-bold);
}

.kr-t2 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-40) / 1440 * 100vw),
    var(--font-size-40)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-medium);
}

.kr-t3 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-32) / 1440 * 100vw),
    var(--font-size-32)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-medium);
}

.kr-s1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-26) / 1440 * 100vw),
    var(--font-size-26)
  );
  line-height: var(--line-height-130);
  font-weight: var(--font-weight-medium);
}

.kr-b1 {
  font-size: clamp(
    1rem,
    calc(var(--font-size-16) / 1440 * 100vw),
    var(--font-size-16)
  );
  line-height: var(--line-height-150);
  font-weight: var(--font-weight-medium);
}

@media (max-width: 1024px) {
  .en-h1,
  .en-h2 {
    font-size: 1rem, calc(var(--font-size-96) / 374 * 100vw),
      var(--font-size-96);
  }

  .en-h3 {
    font-size: 1rem, calc(var(--font-size-80) / 374 * 100vw),
      var(--font-size-80);
  }

  .en-h4 {
    font-size: 1rem, calc(var(--font-size-48) / 374 * 100vw),
      var(--font-size-48);
  }

  .en-t1 {
    font-size: 1rem, calc(var(--font-size-32) / 374 * 100vw),
      var(--font-size-32);
  }

  .en-t2 {
    font-size: 1rem, calc(var(--font-size-28) / 374 * 100vw),
      var(--font-size-28);
  }
  .en-s1 {
    font-size: 1rem, calc(var(--font-size-20) / 374 * 100vw),
      var(--font-size-20);
  }
  .en-t2 {
    font-size: 0.75rem, calc(var(--font-size-14) / 374 * 100vw),
      var(--font-size-14);
  }
  .point-t1 {
    font-size: 1rem, calc(var(--font-size-30) / 374 * 100vw),
      var(--font-size-30);
  }
  .point-t2 {
    font-size: 1rem, calc(var(--font-size-18) / 374 * 100vw),
      var(--font-size-18);
  }
}
